<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    id="1"
    photoCover ="https://c4.wallpaperflare.com/wallpaper/412/431/811/abstract-wolf-art-colors-wallpaper-preview.jpg"
    cardTitle="Saiu Bootcamp Santander - Full Stack"
    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue tristique sollicitudin. Vivamus pellentesque congue cursus. Cras ultrices nunc at maximus scelerisque. Aenean convallis libero ut metus semper, non luctus magna consequat. Praesent consequat interdum elit, ac fermentum dui pulvinar sed. Maecenas gravida quam et iaculis egestas. In pulvinar eros ac lectus tristique, eget efficitur ex tincidunt."
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://assets.toptal.io/images?url=https%3A%2F%2Fbs-uploads.toptal.io%2Fblackfish-uploads%2Fcomponents%2Fblog_post_page%2Fcontent%2Fcover_image_file%2Fcover_image%2F1294600%2Fregular_1708x683_cover-0521-TypeScriptDependencyInjectionDiscord-Bots-Luke_Newsletter-b449a98148dde3b7c5bfd2c4a094f57b.png"
      cardTitle="Saiu Bootcamp Santander - TS"
    >
    </app-small-card>
    <app-small-card
      id="3"
      photoCover="https://e0.pxfuel.com/wallpapers/316/193/desktop-wallpaper-javascript.jpg"
      cardTitle="Saiu Bootcamp Santander - JS"
      >
    </app-small-card>
    <app-small-card
      id="4"
      photoCover="https://wallpapercave.com/wp/wp6599799.jpg"
      cardTitle="Saiu Bootcamp Santander - Java"
    >

    </app-small-card>
  </div>
</div>
